
	body {
		background-color: #005E83;
	}

  article {
      margin: 20px 40px;
      background-color: white;
  }

  p {
  	color: #830E07;
  	font-size:14px;
  	text-decoration: underline;
  }

  h2 {
  	background-color: black;
  	color:rgb(255,255,255);
  }

  li {
  	font-family: Helvetica,Arial,sans;
  }



  a {
  	color: rgb(200,120,120);
  	text-decoration:none;
  }